body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
    padding-left: 5%;
    font-size: 60px;
}
.Orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;

}
.half-width img{
    width: 80%;
}
.Profile-Button{
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    padding: 10px 30px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}